@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
.hide {
  display: none !important;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.game-info .bottom .btn {
  font-size: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.game-info .bottom .btn:active {
  transform: scale(95%);
}
.game-info .bottom .btn:hover {
  filter: brightness(0.95);
}
.game-info .bottom .btn:disabled {
  cursor: default;
  transform: none;
  filter: brightness(0.5);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-pink {
  background-color: rgb(228, 101, 122) !important;
}

.bg-red {
  background-color: rgb(255, 41, 41) !important;
}

.bg-orange {
  background-color: rgb(255, 166, 0) !important;
}

.bg-yellow {
  background-color: rgb(255, 255, 0) !important;
}

.bg-green {
  background-color: rgb(61, 216, 61) !important;
}

.bg-blue {
  background-color: rgb(0, 191, 255) !important;
}

.bg-purple {
  background-color: rgb(161, 68, 173) !important;
}

.bg-dark-blue {
  background-color: rgb(60, 60, 192) !important;
}

.bg-black {
  background-color: rgb(27, 27, 27) !important;
}

.bg-white {
  background-color: rgb(236, 236, 236) !important;
}

.bg-gray {
  background-color: rgb(128, 128, 128) !important;
}

.pink {
  color: rgb(228, 101, 122) !important;
}

.red {
  color: rgb(255, 41, 41) !important;
}

.orange {
  color: rgb(255, 166, 0) !important;
}

.yellow {
  color: rgb(255, 255, 0) !important;
}

.green {
  color: rgb(61, 216, 61) !important;
}

.blue {
  color: rgb(0, 191, 255) !important;
}

.purple {
  color: rgb(161, 68, 173) !important;
}

.dark-blue {
  color: rgb(60, 60, 192) !important;
}

.black {
  color: rgb(27, 27, 27) !important;
}

.white {
  color: rgb(236, 236, 236) !important;
}

.gray {
  color: rgb(128, 128, 128) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: steelblue;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.game-info .top,
.game-info .bottom {
  width: 100%;
}
.game-info .top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  text-align: center;
}
.game-info .bottom {
  display: flex;
  justify-content: center;
}
.game-info .bottom .btn {
  border: 3px solid black;
}
.game-info .left,
.game-info .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-info .row {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.game-area {
  padding: 30px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.game-area .circle {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  border-radius: 50%;
}
.game-area .brighten {
  filter: brightness(0.4);
}/*# sourceMappingURL=style.css.map */